{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1><a href="{{ path('homepage') }}"><img src="/pictures/Euro2016.png"></a> Game</h1>
    <div>
           <h2>Team1 1-0 Team2</h2>
           <div>
               <h3>Game statistics</h3>
               <p>
                   text text text text text text text text text text text text text
                   text text text text text text text text text text text text text
                   text text text text text text text text text text text text text
                   text text text text text

               </p>
           </div>
    </div>

{% endblock %}