{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div style="width: 300px">

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Create"
               class="btn btn-default pull-right" />
        {{ form_end(form) }}
    </div>

{% endblock %}
