{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1><a href="{{ path('homepage') }}"><img src="/pictures/Euro2016.png"></a> Team information</h1>
    <table class="table table-bordered">
        <tr>
            <th>Players list</th>
            <th>Coaches list</th>
            <th>Last games</th>
        </tr>
        <tr>
            <td>
                {% for player in team.players %}
                   <div> <a href="{{ path('show_player', {'player': player.requestFormatName }) }}">{{ player.name }}</a></div>
                {% endfor %}

            </td>
            <td>
                <div><a href="#">Coach1</a></div>
                <div><a href="#">Coach1</a></div>
                <div><a href="#">Coach1</a></div>
                <div><a href="#">Coach1</a></div>
            </td>
            <td>
                <div>Team1 (1 - 0) Team2</div>
                <div>Team1 (2 - 3) Team2</div>
                <div>Team1 (3 - 1) Team2</div>
                <div>Team1 (1 - 1) Team2</div>
            </td>
        </tr>
    </table>

{% endblock %}