{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <h1><a href="{{ path('homepage') }}"><img src="/pictures/Euro2016.png"></a> Player information</h1>
    <div>
        <h2>Player 1</h2>
        <p>Position : forward</p>
        <p>Age : 24</p>
        <p>Nationality: nationality</p>
        <p>Games played: 44</p>
        <p>Goals: 19</p>
    </div>

{% endblock %}