{% extends 'base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}
<h1><img src="/pictures/Euro2016.png"> UEFA EURO 2016 FRANCE</h1>
<table class="table table-bordered table-hover">
    <tr>
        <th>POT 1</th>
        <th>POT 2</th>
        <th>POT 3</th>
        <th>POT 4</th>
    </tr>
    <tr>
        <td>
            <a href="{{ path('show_country', {'country': 'france'}) }}"><img src="/pictures/france.png"></a>
            <a href="{{ path('show_team', {'team': 'france'}) }}">France</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/italy.png"></a>
            <a href="#"> Italy</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/czech.png"></a>
            <a href="#"> Czech Republic</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/turkey.png"></a>
            <a href="#"> Turkey</a>
        </td>
    </tr>
    </tr>
    <tr>
        <td>
            <a href="#"><img src="/pictures/spain.png"></a>
            <a href="#"> Spain</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/russia.png"></a>
            <a href="#"> Russia</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/sweden.png"></a>
            <a href="#"> Sweden</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/ireland.png"></a>
            <a href="#"> Republic of Ireland</a>
        </td>
    </tr>
    </tr>
    <tr>
        <td>
            <a href="#"><img src="/pictures/germany.png"></a>
            <a href="#"> Germany</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/switzerland.png"></a>
            <a href="#"> Switzerland</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/poland.png"></a>
            <a href="#"> Poland</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/iceland.png"></a>
            <a href="#"> Iceland</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#"><img src="/pictures/england.png"></a>
            <a href="#"> England</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/austria.png"></a>
            <a href="#"> Austria</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/romania.png"></a>
            <a href="#"> Romania</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/wales.png"></a>
            <a href="#"> Wales</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#"><img src="/pictures/portugal.png"></a>
            <a href="#"> Portugal</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/croatia.png"></a>
            <a href="#"> Croatia</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/slovakia.png"></a>
            <a href="#"> Slovakia</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/albania.png"></a>
            <a href="#"> Albania</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#"><img src="/pictures/belgium.png"></a>
            <a href="#"> Belgium</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/ukraine.png"></a>
            <a href="#"> Ukraine</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/hungary.png"></a>
            <a href="#"> Hungary</a>
        </td>
        <td>
            <a href="#"><img src="/pictures/northern_ireland.png"></a>
            <a href="#"> Northern Ireland</a>
        </td>
    </tr>

</table>

{% endblock %}